global
    maxconn 4096
    nbthread 1
    log stdout local0 warning

defaults
    mode http
    log global
    option dontlognull
    timeout connect 1s
    timeout client 5s
    timeout server 5s
    option http-keep-alive

frontend api
    bind :9999
    default_backend apis

backend apis
    balance roundrobin
    option httpchk
    http-check send meth GET uri /ready
    server api1 /tmp/sockets/api1.sock check inter 1s
    server api2 /tmp/sockets/api2.sock check inter 1s
